body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Arial Black", sans-serif;
  background-color: #1a1a1a;
}

#formulario {
  background-color:  #ff00ff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

h2 {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 28px;
  margin-bottom: 30px;
}

label {
  display: block;
  margin-bottom: 20px;
  color: #fff;
  font-size: 18px;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 30px;
  box-sizing: border-box;
  margin-bottom: 20px;
  font-size: 16px;
  background-color: #fff;
  color: #333;
}

button {
  background-color: #1a1a1a;
  color: #fff;
  padding: 15px 30px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ff2666;
}

button:focus {
  outline: none;
}