.container {
    text-align: center;
    margin-top: 100px;
}

.buttons {
    margin-top: 20px;
}

.btn {
    display: inline-block;
    padding: 20px 40px;
    font-size: 24px;
    text-decoration: none;
    background-color: #337ab7;
    color: #fff;
    border-radius: 5px;
    margin-right: 10px;
}

.btn:hover {
    background-color: #23527c;
}
