body {
    background-color: #f4f4f4;
    font-family: "Comic Sans MS", cursive, sans-serif;
  }
  
  h1 {
    color: #ff00ff;
    text-align: center;
    margin-top: 50px;
  }
  
  form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #ebebeb;
    padding: 20px;
    border-radius: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    color: #0000ff;
  }
  
  input[type="text"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #0000ff;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  button {
    background-color: #ff00ff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  table {
    margin-top: 30px;
    border-collapse: collapse;
    width: 100%;
    background-color: #ebebeb;
    border-radius: 10px;
  }
  
  th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #000000;
  }
  
  th {
    background-color: #ff00ff;
    color: #ffffff;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tbody tr:hover {
    background-color: #cccccc;
  }

  .volver-inicio {
    position: fixed;
    bottom: 20px;
    left: 20px;
  }
  
  .btn-volver {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    background-color: #337ab7;
    color: #fff;
    border-radius: 5px;
  }
  
  .btn-volver:hover {
    background-color: #23527c;
  }
  