/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #555;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }

  /* Estilos para el encabezado */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  header h1 {
    margin: 0;
    font-size: 28px;
  }
  
  /* Estilos para el menú de navegación */
  nav ul {
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    display: inline-block;
    position: relative;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    font-size: 25px;
    transition: all 0.3s;
  }
  
  nav ul li a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: #fff;
    transform: scaleX(0);
    transition: transform 0.3s;
  }
  
  nav ul li a:hover {
    color: #ff00ff;
  }
  
  nav ul li a:hover:before {
    transform: scaleX(1);
  }
  
  nav ul li:hover > ul {
    display: block;
  }
  
  nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #555;
    padding: 10px;
  }
  
  nav ul ul li {
    width: 200px;
  }
  
  nav ul ul li a {
    color: #fff;
    font-size: 16px;
    padding: 5px;
  }
  
  nav ul ul li a:hover {
    background-color: #ff00ff;
  }
  

  
  
  
  
  /* Estilos para el banner */
.banner {
    margin-bottom: 30px;
    text-align: center;
  }
  
.banner img {
width: 100%;
height: 250px;
  }


/* BRANDS */
.contenido {
    margin: 20px;
  }
  
  h2 {
    text-align: center;
    color: white;
    font-size: 30px;
  }
  
  .cuadriculas {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  
  .cuadricula {
    width: calc(50% - 20px);
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .cuadricula img {
    width: 500px;
    height: auto;
  }
  
  .new-arrivals {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  #contenedorProductos {
    display: flex;
    flex-wrap: wrap;
  }
  
  .producto {
    margin-bottom: 30px;
    text-align: center;
    margin-left: 20px;
  }
  
  .producto img {
    width: 400px;
    height: auto;
    box-shadow: 0px 0px 10px rgba(255, 0, 255, 0.5);
  }
  
  .producto h3 {
    font-size: 20px;
    color: #ff00ff;
    margin-top: 10px;
    text-align: center;
  }
  
  .producto p {
    text-align: center;
    font-size: 18px;
    color: white;
  }
 
  /*footer */
  .footer {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
    text-align: center;
  }
  
  .footer-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
  
  .footer-section {
    flex-basis: 100%;
    margin-bottom: 20px;
  }
  
  .footer h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer ul li {
    margin-bottom: 5px;
  }
  
  .footer ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .social-logo {
    margin-top: 10px;
  }
  
  .social-logo a {
    display: inline-block;
    margin: 0 10px;
  }
  
  .social-logo img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s;
  }
  
  .social-logo img:hover {
    transform: scale(1.2);
  }
  
  .footer-text {
    font-size: 14px;
  }
   /*responsiva*/
  @media screen and (max-width: 768px) {
    .cuadricula,
    .producto {
      width: 100%;
    }
  }  
  
@media screen and (max-width: 768px) {
    nav ul li {
      display: block;
      margin-right: 0;
    }
  
    nav ul li a {
      font-size: 18px;
    }
  
    nav ul ul {
      position: static;
      background-color: transparent;
      padding: 0;
    }
  
    nav ul ul li {
      width: 100%;
    }
  }


 /*formulario contacto*/
  form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    font-family: "Comic Sans MS", cursive;
    text-align: center;
  }
  
  label {
    color: purple;
    font-size: 20px;
  }
  
  input[type="text"],
  input[type="email"],
  select,
  textarea {
    background-color: #555;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    color: purple;
  }
  
  
  textarea {
    height: 150px;
  }
  
  .sobre-nosotros {
    text-align: center;
    padding: 50px;
  }
   /*sobre nhosotros*/
  .sobre-nosotros h2 {
    font-size: 36px;
    margin-bottom: 40px;
    color: #333;
    text-transform: uppercase;
  }
  
  .foto-tienda img {
    max-width: 100%;
    height: auto;
    margin-bottom: 40px;
    border: 2px solid #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .info-tienda {
    margin-bottom: 40px;
  }
  
  .info-tienda h3 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .info-tienda p {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.5;
    color: white;
  }
  
  .marcas {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }
  
  .marcas h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #ff00ff;
    text-transform: uppercase;
  }
  
  .marca {
    margin: 0 20px;
    text-align: center;
  }
  
  .marca img {
    max-width: 100%;
    height: auto;
    transition: opacity 0.3s ease-in-out;
  }
  
  .marca img:hover {
    opacity: 0.7;
  }
  
  .marca p {
    margin-top: 10px;
    font-size: 16px;
    color: white;
  }
   /*diseno boton login*/
  .botonLogin {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    width: 50px;
    height: 50px;
    background-color: #ff00ff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .botonLogin img{
  max-width: 60%;
  max-height: 60%;}